<?xml version="1.0"?>
<configuration>
   <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
         <section name="FreeSrc.Utils.KeepTidy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      </sectionGroup>
   </configSections>
   <log4net debug="false">
      <appender name="LogFileAppender" type="log4net.Appender.FileAppender,log4net">
         <param name="File" value="keepTidy.log"/>
         <param name="AppendToFile" value="true"/>
         <layout type="log4net.Layout.PatternLayout,log4net">
            <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
         </layout>
      </appender>
      <root>
         <priority value="ALL"/>
         <appender-ref ref="LogFileAppender"/>
      </root>
   </log4net>
   <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
   </startup>
   <applicationSettings>
      <FreeSrc.Utils.KeepTidy.Properties.Settings>
         <setting name="projectDirectory" serializeAs="String">
            <value>C:\Projects\iApplyNG</value>
         </setting>
         <setting name="excludeFolders" serializeAs="String">
            <value>\\.svn|\\.git|\$tf</value>
         </setting>
         <setting name="commandFilter" serializeAs="String">
            <value>MyApp.*exe$|MyApp2\.exe$</value>
         </setting>
         <setting name="serviceFilter" serializeAs="String">
            <value>MyCompany</value>
         </setting>
         <setting name="garbageFilter" serializeAs="String">
            <value>\.pdb$|\.exp$|\.obj$|\.dll\.config$|vshost|\.lib$|\.bsc$|\.bin$|\.metagen$|\.cache$|\.manifest$|\.pch$</value>
         </setting>
      </FreeSrc.Utils.KeepTidy.Properties.Settings>
   </applicationSettings>
</configuration>
