<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="SQLiteDbConnection" connectionString="Data Source=|DataDirectory|app_data.sqlite;Version=3;"/>
  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <authentication mode="Forms"/>
    <!-- Configure the Membership provider.-->
    <membership defaultProvider="SQLiteMembershipProvider">
      <providers>
        <clear/>
        <add applicationName="SQLite ASP.NET Provider" passwordFormat="Clear" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="2" maxInvalidPasswordAttempts="2" enablePasswordReset="true" enablePasswordRetrieval="true" passwordAttemptWindow="10" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" connectionStringName="SQLiteDbConnection" name="SQLiteMembershipProvider" type="FreeSrc.Web.Providers.SQLiteMembershipProvider, FreeSrc.Web.SqliteMembershipProvider"/>
      </providers>
    </membership>
    <!-- Configure the Role provider.-->
    <roleManager enabled="true" cacheRolesInCookie="true" cookieProtection="Validation" defaultProvider="SQLiteRoleProvider">
      <providers>
        <clear/>
        <add applicationName="SQLite ASP.NET Provider" connectionStringName="SQLiteDbConnection" name="SQLiteRoleProvider" type="FreeSrc.Web.Providers.SQLiteRoleProvider, FreeSrc.Web.SqliteMembershipProvider"/>
      </providers>
    </roleManager>
      
    <!-- Configure the Profile provider.-->
    <profile defaultProvider="SQLiteProfileProvider">
      <providers>
        <clear/>
        <add applicationName="SQLite ASP.NET Provider" connectionStringName="SQLiteDbConnection" name="SQLiteProfileProvider" type="FreeSrc.Web.Providers.SQLiteProfileProvider, FreeSrc.Web.SqliteMembershipProvider"/>
      </providers>
    </profile>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>